In [21]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import seaborn as sns

In [22]:
# Read the dataset
df = pd.read_csv('../dataset/postings.csv')

In [23]:
tech_keywords = [
    # General Tech Terms
    "technology", "innovation", "digital", "software", "hardware", "computing", "IT", "information technology",

    # Programming Languages
    "python", "java", "javascript", "typescript", "c++", "c#", "golang", "rust", "ruby", "swift",
    "kotlin", "php", "html", "css", "sql", "nosql", "mongodb", "firebase", "postgres", "mysql", "oracle",
    "sqlite", "graphQL", "redis", "elasticsearch",

    # Job Titles
    "developer", "engineer", "programmer", "data scientist", "system administrator", "network administrator",
    "database administrator", "security analyst", "devops", "cloud architect", "frontend developer",
    "backend developer", "software architect", "machine learning engineer", "deep learning engineer",
    "AI engineer", "cybersecurity analyst", "blockchain developer", "site reliability engineer",
    "test engineer", "automation engineer", "embedded systems", "full stack developer", "data analyst",
    "business intelligence", "security consultant", "penetration tester",

    # Frameworks & Libraries
    "react", "angular", "vue", "next.js", "nuxt.js", "svelte", "jquery", "django", "flask", "fastapi",
    "spring boot", "node.js", "express.js", "laravel", "ruby on rails", "dotnet", "tensorflow", "pytorch",
    "scikit-learn", "hugging face", "transformers",

    # Cloud & DevOps
    "aws", "azure", "google cloud", "gcp", "cloud computing", "docker", "kubernetes", "terraform", "ansible",
    "jenkins", "ci/cd", "cloudformation", "serverless", "lambda", "ec2", "s3", "cloud functions", "openstack",

    # AI, Machine Learning & Data Science
    "machine learning", "deep learning", "artificial intelligence", "AI", "computer vision",
    "speech recognition", "natural language processing", "NLP", "reinforcement learning",
    "recommendation systems", "big data", "hadoop", "spark", "data mining", "data pipeline",
    "data visualization", "feature engineering", "data preprocessing",

    # Cybersecurity & Blockchain
    "cybersecurity", "security", "penetration testing", "ethical hacking", "cryptography", "firewall",
    "intrusion detection", "network security", "wireless security", "zero trust", "SOC analyst", "SIEM",
    "blockchain", "ethereum", "smart contracts", "solidity", "web3",

    # Databases & Storage
    "mysql", "postgresql", "mongodb", "redis", "oracle", "sql server", "sqlite", "cassandra", "dynamodb",
    "data warehousing", "etl", "data lakes",

    # Tools & Platforms
    "git", "github", "gitlab", "bitbucket", "jira", "confluence", "slack", "trello", "salesforce", "SAP",
    "power BI", "tableau", "looker", "databricks", "kafka", "event-driven architecture",

    # Emerging Technologies
    "5g", "edge computing", "quantum computing", "internet of things", "IoT", "robotics", "autonomous vehicles",
    "wearables", "smart home", "fintech", "healthtech", "edtech", "insurtech", "proptech", "martech",
    "e-commerce", "digital marketing", "seo", "content management", "cms", "crm", "erp", "saas", "paas", "iaas"
]

In [24]:
# Ensure lowercase for case-insensitive filtering
df_filtered = df[
    df["description"].str.lower().str.contains('|'.join(tech_keywords), na=False, regex=True) |
    df["skills_desc"].str.lower().str.contains('|'.join(tech_keywords), na=False, regex=True)
]

In [25]:
non_tech_keywords = [
    "marketing", "sales", "business development", "account manager", "customer support",
    "recruiter", "hr", "human resources", "writer", "copywriter", "journalist",
    "communications", "public relations", "real estate", "fashion", "hospitality",
    "healthcare", "lawyer", "attorney", "paralegal", "nurse", "therapist", "teacher",
    "coach", "fitness", "personal trainer", "chef", "restaurant", "hotel",
    "construction", "logistics", "retail", "cashier", "store manager", "barista",
    "waiter", "event planner", "fundraising", "social work", "policy analyst",
    "counselor", "pastor", "priest"
]

# Exclude jobs that contain any of these non-tech keywords
df_filtered = df_filtered[
    ~df_filtered["description"].str.lower().str.contains('|'.join(non_tech_keywords), na=False, regex=True)
]

In [26]:
# Display the filtered dataset
df_filtered.head()  # Show first few rows

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0
6,103254301,Raw Cereal,Producer,Company DescriptionRaw Cereal is a creative de...,300000.0,YEARLY,United States,81942316.0,7.0,NaN,...,NaN,1.712861e+12,NaN,0,CONTRACT,USD,BASE_SALARY,180000.0,NaN,NaN
22,133130219,NaN,Software Engineer,"Education Bachelor's degree in software, math,...",NaN,NaN,Los Angeles Metropolitan Area,NaN,1.0,NaN,...,NaN,1.713535e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
25,141969940,PRM-TAIWAN,NPE 2024 Exhibition Event Worker,NPE 2024 Exhibition Event Worker﻿Date: 2024/05...,NaN,NaN,"Orlando, FL",14560773.0,2.0,NaN,...,NaN,1.712654e+12,NaN,0,PART_TIME,NaN,NaN,NaN,32801.0,12095.0
26,175485704,GOYT,Software Engineer,Job Description:GOYT is seeking a skilled and ...,NaN,NaN,"Denver, CO",76987056.0,273.0,NaN,...,NaN,1.713281e+12,NaN,0,PART_TIME,NaN,NaN,NaN,80202.0,8031.0

In [27]:
print(df_filtered.shape)  # Show number of rows and columns

(16546, 31)