In [21]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import seaborn as sns

In [22]:
# Read the dataset
df = pd.read_csv('../dataset/postings.csv')

In [38]:
import re

# Sort only tech companies

# Define a list of programming languages, removing "Go" and ensuring accurate matches
programming_languages = [
    "Python", "Java", "JavaScript", "C\\+\\+", "C#", "Ruby", "Swift", "Kotlin",
    "Rust", "PHP", "TypeScript", "Scala", "Perl", "Haskell", "Lua",
    "Dart", "Objective-C", "MATLAB",
]

# Define additional tech-related keywords
tech_keywords = [
    "data science", "data analytics", 'machine learning', 'deep learning', 'artificial intelligence', "frontend", 'backend', 'git', 'api', 'apis', 'json', 'sdk', 'developer'
]

# Combine programming languages and tech-related keywords
combined_keywords = programming_languages + tech_keywords

# Convert the combined list into a regex pattern ensuring whole-word matches
pattern = r"\b(?:{})\b".format("|".join(combined_keywords))

# Count matches in title and description
df["match_count"] = df["title"].str.count(pattern, flags=re.IGNORECASE).fillna(0) + \
                    df["description"].str.count(pattern, flags=re.IGNORECASE).fillna(0)

# Filter jobs that match at least 2 of the combined keywords
tech_postings = df[df["match_count"] >= 3].drop(columns=["match_count"])

tech_postings.head(20)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
26,175485704,GOYT,Software Engineer,Job Description:GOYT is seeking a skilled and ...,NaN,NaN,"Denver, CO",76987056.0,273.0,NaN,...,NaN,1.713281e+12,NaN,0,PART_TIME,NaN,NaN,NaN,80202.0,8031.0
78,2234533717,Ideando Inc,Full Stack Engineer,"Location: Remote\nCompany Overview:SkillFit, a...",NaN,NaN,United States,69611476.0,21.0,NaN,...,NaN,1.713493e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
129,3366698309,Webologix Ltd/ INC,Anaplan Developer,Job Title: Anaplan Developer\n\nLocations: US ...,NaN,NaN,United States,14524845.0,2.0,NaN,...,NaN,1.713471e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
146,3475933396,USLI,Senior Developer,This individual will work with a high performa...,NaN,NaN,Greater Philadelphia,33421.0,NaN,NaN,...,NaN,1.713538e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
163,3533320307,NLB Services,Java architect / Lead Java developer,Position: Java architect / Lead Java developer...,NaN,NaN,"Jersey City, NJ",490432.0,3.0,NaN,...,NaN,1.712855e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,7302.0,34017.0
181,3586167732,StyleAI,Senior Software Engineer,"StyleAI is the AI-powered, all-in-one unified ...",NaN,NaN,San Francisco Bay Area,90662302.0,31.0,NaN,...,NaN,1.713397e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
196,3625991523,Xoriant,DDI Engineer,Title: Infoblox/DNS EngineerLocation: 6860 Yos...,NaN,NaN,"Jersey City, NJ",166996.0,24.0,NaN,...,NaN,1.713277e+12,NaN,0,CONTRACT,NaN,NaN,NaN,7302.0,34017.0
260,3722423668,Wanderboat AI,Founding Front-End Engineer (Web),The ideal candidate will be responsible for de...,NaN,NaN,San Francisco Bay Area,99336130.0,15.0,NaN,...,NaN,1.713496e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
266,3728459637,HireBus,Principal Backend Engineer,Principal Backend Engineer - Join HireBus and ...,225.0,YEARLY,United States,91326370.0,7.0,NaN,...,NaN,1.713471e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,212.5,NaN,NaN
283,3742692445,ZenithMinds Inc,Sr Data Engineer with Kafka,Data Engineer with Kafka (W2 Only)ðŸ’¯% Remote\nM...,NaN,NaN,"Austin, TX",81941852.0,39.0,NaN,...,NaN,1.713209e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,78701.0,48453.0
284,3743875708,Bright Sparks,Unpaid Internship: Development Team,Bright Sparks Academy Internship Program\nBefo...,NaN,NaN,United States,94850267.0,4.0,NaN,...,NaN,1.713462e+12,NaN,0,VOLUNTEER,NaN,NaN,NaN,NaN,NaN
333,3784120102,OTB English,Artificial Intelligence Engineer Intern - Chatbot,Company DescriptionOTB English offers business...,NaN,NaN,United States,28154819.0,98.0,NaN,...,NaN,1.712894e+12,NaN,0,VOLUNTEER,NaN,NaN,NaN,NaN,NaN
354,3794986432,GlobalStake,Engineers / Marketing / Various,"General Role:\nWe are hiring for engineers, ma...",NaN,NaN,United States,89493362.0,2.0,NaN,...,NaN,1.712859e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
355,3795134838,TekisHub Consulting Services,backend Java developer,Job Description: JAVA Backend with React stron...,NaN,NaN,"Austin, TX",1384369.0,5.0,NaN,...,NaN,1.713472e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,78701.0,48453.0
366,3800272386,Sovrinti,Data Science Software Engineer,Company Overview Sovrinti is a full-service en...,NaN,NaN,United States,80936343.0,125.0,NaN,...,NaN,1.712347e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
367,3800989742,SilverSpace Technologies Inc,Data Engineer/ETL,"Responsibilities:Develop new features, fix bug...",NaN,NaN,"Hartford, CT",71373471.0,39.0,NaN,...,NaN,1.713534e+12,NaN,0,CONTRACT,NaN,NaN,NaN,6101.0,9003.0
372,3802602037,"Subaru Research and Development, Inc",Mobile Application Developer,About Subaru Research and Development:Do you c...,NaN,NaN,"Michigan, United States",91080439.0,11.0,NaN,...,NaN,1.713554e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
409,3819416106,HQ,Full Stack Engineer,We work with a large variety of clients and pr...,NaN,NaN,"Ogden, UT",3772528.0,81.0,NaN,...,NaN,1.713406e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,84401.0,49057.0
429,3827945924,TRG,Software Engineer,*This position is fully onsite and requires sp...,NaN,NaN,"Westlake, OH",544277.0,15.0,NaN,...,NaN,1.712347e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,44145.0,39035.0
450,3833295504,ABHI IT SYSTEMS INC,ðŸš€ Join Our Team as a Senior iOS Developer at A...,**Job Title: Senior iOS Developer**\n**Company...,NaN,NaN,"Dallas, TX",99234508.0,11.0,NaN,...,NaN,1.713551e+12,NaN,0,CONTRACT,NaN,NaN,NaN,75201.0,48113.0

In [39]:
# Combine 'description' and 'skills_desc' columns
tech_postings["combined_text"] = tech_postings["description"].fillna("") + " " + tech_postings["skills_desc"].fillna("")

# Function to clean and tokenize text
def tokenize(text):
    text = re.sub(r"[^a-zA-Z0-9\s]", "", text)  # Remove special characters
    words = text.lower().split()  # Convert to lowercase and split
    return words

# Flatten the list of words from all tech descriptions
all_words = []
for text in tech_postings["combined_text"].dropna():
    all_words.extend(tokenize(text))

# Count occurrences of each word
word_counts = Counter(all_words)

# Get the top 20 most common words (potential skills)
top_20_skills = word_counts.most_common(20)

# Convert to DataFrame for better readability
top_20_df = pd.DataFrame(top_20_skills, columns=["Skill", "Count"])

# Display the top skills
import ace_tools as tools
tools.display_dataframe_to_user(name="Top 20 Tech Skills", dataframe=top_20_df)

ModuleNotFoundError: No module named 'ace_tools'