In [4]:
import pandas as pd
import re
from collections import Counter

DATASET_PATH = '../dataset'

all_postings = pd.read_csv(f'{DATASET_PATH}/postings.csv')

In [2]:
programming_languages = ["Python", "Java", "JavaScript", "C\\+\\+", "C#", "Ruby", "Swift", "Kotlin",
    "Rust", "PHP", "TypeScript", "Scala", "Perl", "Haskell", "Lua",
    "Dart", "Objective-C", "MATLAB", "HTML", "CSS", "SQL", "NoSQL", "MongoDB", "MySQL", "PostgreSQL",
    "React", "Angular", "Vue", "Node.js", "Express", "Flask", "Django", "Spring", "Ruby on Rails",
    "TensorFlow", "PyTorch", "Keras", "Scikit-learn", "Pandas", "NumPy", "SciPy", "Matplotlib",
    "Kubernetes", "Docker", "Jenkins", "Travis CI", "GitLab CI", "GitLab", "GitHub", "Git",
    "AWS", "Azure", "Google Cloud", "GCP", "Heroku", "DigitalOcean", "Firebase", "Netlify",
    "Linux", "Unix", "Windows", "macOS", "iOS", "Android", "Raspberry Pi", "Arduino", "ESP32",
    "REST", "GraphQL", "gRPC", "SOAP", "WebSockets", "OAuth", "JWT", "OpenID", "SAML",
    "Agile", "Scrum", "Kanban", "XP", "Pair Programming", "TDD", "BDD", "CI/CD",]

# Define additional tech-related keywords
tech_keywords = [
    "data science", "data analytics", 'machine learning', 'deep learning', 'artificial intelligence', "frontend", 'backend', 'git', 'api', 'apis', 'json', 'sdk', 'developer'
]

# Combine programming languages and tech-related keywords
combined_keywords = programming_languages + tech_keywords

# Convert the combined list into a regex pattern ensuring whole-word matches
pattern = r"\b(?:{})\b".format("|".join(combined_keywords))

# Count matches in title and description
all_postings["match_count"] = all_postings["title"].str.count(pattern, flags=re.IGNORECASE).fillna(0) + \
                    all_postings["description"].str.count(pattern, flags=re.IGNORECASE).fillna(0)

# Filter jobs that match at least 3 of the combined keywords
tech_postings = all_postings[all_postings["match_count"] >= 3].drop(columns=["match_count"])

tech_postings.head(20)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
26,175485704,GOYT,Software Engineer,Job Description:GOYT is seeking a skilled and ...,NaN,NaN,"Denver, CO",76987056.0,273.0,NaN,...,NaN,1.713281e+12,NaN,0,PART_TIME,NaN,NaN,NaN,80202.0,8031.0
78,2234533717,Ideando Inc,Full Stack Engineer,"Location: Remote\nCompany Overview:SkillFit, a...",NaN,NaN,United States,69611476.0,21.0,NaN,...,NaN,1.713493e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
108,3169712432,SysMind,Salesforce Vlocity Developer,Role: Salesforce Vlocity DeveloperLocation: Ne...,NaN,NaN,"Jersey City, NJ",85964.0,146.0,NaN,...,NaN,1.713211e+12,NaN,0,CONTRACT,NaN,NaN,NaN,7302.0,34017.0
116,3245063922,Saxon AI,Data Architect,Request: Data ArchitectLocation: San Francisco...,NaN,NaN,"San Francisco, CA",224935.0,7.0,NaN,...,NaN,1.713537e+12,NaN,0,CONTRACT,NaN,NaN,NaN,94101.0,6075.0
129,3366698309,Webologix Ltd/ INC,Anaplan Developer,Job Title: Anaplan Developer\n\nLocations: US ...,NaN,NaN,United States,14524845.0,2.0,NaN,...,NaN,1.713471e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
146,3475933396,USLI,Senior Developer,This individual will work with a high performa...,NaN,NaN,Greater Philadelphia,33421.0,NaN,NaN,...,NaN,1.713538e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
163,3533320307,NLB Services,Java architect / Lead Java developer,Position: Java architect / Lead Java developer...,NaN,NaN,"Jersey City, NJ",490432.0,3.0,NaN,...,NaN,1.712855e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,7302.0,34017.0
181,3586167732,StyleAI,Senior Software Engineer,"StyleAI is the AI-powered, all-in-one unified ...",NaN,NaN,San Francisco Bay Area,90662302.0,31.0,NaN,...,NaN,1.713397e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
196,3625991523,Xoriant,DDI Engineer,Title: Infoblox/DNS EngineerLocation: 6860 Yos...,NaN,NaN,"Jersey City, NJ",166996.0,24.0,NaN,...,NaN,1.713277e+12,NaN,0,CONTRACT,NaN,NaN,NaN,7302.0,34017.0
237,3700068571,Akshaya Inc,Software Implementation Program Manager,Title: Software Implementation Program Manager...,NaN,NaN,"Cupertino, CA",18838319.0,2.0,NaN,...,NaN,1.713562e+12,NaN,0,CONTRACT,NaN,NaN,NaN,95014.0,6085.0
241,3702659694,"Sunray Enterprise, Inc.",Managed File Transfer Specialist (connect dire...,Job Position :- Managed File Transfer Speciali...,NaN,NaN,United States,912358.0,51.0,NaN,...,NaN,1.713450e+12,NaN,0,CONTRACT,NaN,NaN,NaN,NaN,NaN
251,3710273988,"Decision Point Security, Inc.",Cybersecurity Test Engineer – Remote,Decision Point Security Inc. is currently seek...,NaN,NaN,"Florida, United States",92675042.0,6.0,NaN,...,NaN,1.712857e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
260,3722423668,Wanderboat AI,Founding Front-End Engineer (Web),The ideal candidate will be responsible for de...,NaN,NaN,San Francisco Bay Area,99336130.0,15.0,NaN,...,NaN,1.713496e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
266,3728459637,HireBus,Principal Backend Engineer,Principal Backend Engineer - Join HireBus and ...,225.0,YEARLY,United States,91326370.0,7.0,NaN,...,NaN,1.713471e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,212.5,NaN,NaN
283,3742692445,ZenithMinds Inc,Sr Data Engineer with Kafka,Data Engineer with Kafka (W2 Only)💯% Remote\nM...,NaN,NaN,"Austin, TX",81941852.0,39.0,NaN,...,NaN,1.713209e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,78701.0,48453.0
284,3743875708,Bright Sparks,Unpaid Internship: Development Team,Bright Sparks Academy Internship Program\nBefo...,NaN,NaN,United States,94850267.0,4.0,NaN,...,NaN,1.713462e+12,NaN,0,VOLUNTEER,NaN,NaN,NaN,NaN,NaN
301,3763494664,HAPPI Health,Help Desk Analyst,Job DescriptionAssures the operation of the El...,NaN,NaN,Huntsville-Decatur-Albertville Area,96183900.0,6.0,NaN,...,NaN,1.713212e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
327,3782409045,Vtechys,Senior Linux/RedHat Engineer,Company DescriptionVtechys is an affordable an...,NaN,NaN,United States,75862255.0,193.0,NaN,...,NaN,1.713211e+12,NaN,0,CONTRACT,NaN,NaN,NaN,NaN,NaN
333,3784120102,OTB English,Artificial Intelligence Engineer Intern - Chatbot,Company DescriptionOTB English offers business...,NaN,NaN,United States,28154819.0,98.0,NaN,...,NaN,1.712894e+12,NaN,0,VOLUNTEER,NaN,NaN,NaN,NaN,NaN
354,3794986432,GlobalStake,Engineers / Marketing / Various,"General Role:\nWe are hiring for engineers, ma...",NaN,NaN,United States,89493362.0,2.0,NaN,...,NaN,1.712859e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN

In [5]:
Counter(tech_postings['location'])

Counter({'United States': 1835,
         'New York, NY': 399,
         'Chicago, IL': 288,
         'Atlanta, GA': 253,
         'Dallas, TX': 234,
         'Austin, TX': 215,
         'Seattle, WA': 176,
         'Charlotte, NC': 169,
         'San Francisco, CA': 160,
         'Boston, MA': 157,
         'Plano, TX': 157,
         'McLean, VA': 146,
         'Houston, TX': 144,
         'Washington, DC': 130,
         'Richmond, VA': 123,
         'Phoenix, AZ': 121,
         'Irving, TX': 112,
         'New York City Metropolitan Area': 111,
         'New York, United States': 111,
         'San Jose, CA': 110,
         'Jersey City, NJ': 100,
         'San Diego, CA': 97,
         'Sunnyvale, CA': 90,
         'Columbus, OH': 86,
         'Denver, CO': 81,
         'Tampa, FL': 81,
         'Los Angeles, CA': 80,
         'Alpharetta, GA': 79,
         'California, United States': 73,
         'Pittsburgh, PA': 70,
         'Philadelphia, PA': 69,
         'Redmond, WA': 68,
         'San Francisco Bay Area': 66,
         'Washington DC-Baltimore Area': 63,
         'Santa Clara, CA': 60,
         'Durham, NC': 56,
         'Minneapolis, MN': 55,
         'Austin, Texas Metropolitan Area': 54,
         'Bellevue, WA': 54,
         'Mountain View, CA': 53,
         'Raleigh, NC': 52,
         'Irvine, CA': 51,
         'Reston, VA': 49,
         'Arlington, VA': 46,
         'Newark, NJ': 46,
         'Orlando, FL': 42,
         'Cleveland, OH': 41,
         'Cincinnati, OH': 41,
         'Cambridge, MA': 41,
         'New Jersey, United States': 41,
         'Atlanta Metropolitan Area': 37,
         'Texas, United States': 36,
         'San Antonio, TX': 35,
         'Colorado Springs, CO': 35,
         'Dearborn, MI': 34,
         'Oakland, CA': 34,
         'Lansing, MI': 34,
         'Cupertino, CA': 32,
         'Palo Alto, CA': 32,
         'Dallas-Fort Worth Metroplex': 32,
         'Indianapolis, IN': 32,
         'Herndon, VA': 32,
         'Virginia, United States': 32,
         'St Louis, MO': 30,
         'Omaha, NE': 29,
         'Florida, United States': 28,
         'Columbus, Ohio Metropolitan Area': 26,
         'Tallahassee, FL': 26,
         'Baltimore, MD': 26,
         'Miami, FL': 26,
         'Bentonville, AR': 25,
         'Milwaukee, WI': 25,
         'Greater Chicago Area': 25,
         'Chantilly, VA': 25,
         'Vienna, VA': 24,
         'Nashville, TN': 24,
         'Grand Rapids, MI': 24,
         'Las Vegas, NV': 24,
         'Los Angeles Metropolitan Area': 23,
         'Fort Worth, TX': 23,
         'Berkeley Heights, NJ': 22,
         'Sacramento, CA': 22,
         'Jacksonville, FL': 22,
         'Huntsville, AL': 22,
         'Memphis, TN': 21,
         'Pleasanton, CA': 20,
         'Bothell, WA': 20,
         'Overland Park, KS': 20,
         'Ashburn, VA': 20,
         'North Carolina, United States': 19,
         'Fairfax, VA': 19,
         'Riverwoods, IL': 19,
         'Chandler, AZ': 19,
         'Wilmington, DE': 19,
         'Louisville, KY': 19,
         'Hartford, CT': 18,
         'Princeton, NJ': 18,
         'Harrisburg, PA': 18,
         'Auburn Hills, MI': 18,
         'Malvern, PA': 18,
         'Redwood City, CA': 17,
         'Pennington, NJ': 17,
         'Illinois, United States': 17,
         'Columbia, MD': 17,
         'Addison, TX': 17,
         'Kansas City, MO': 17,
         'Merrimack, NH': 17,
         'Menlo Park, CA': 16,
         'Pennsylvania, United States': 16,
         'El Segundo, CA': 16,
         'Richardson, TX': 16,
         'Nashville Metropolitan Area': 16,
         'Detroit, MI': 16,
         'Fremont, CA': 15,
         'Quincy, MA': 15,
         'Cary, NC': 15,
         'Madison, WI': 15,
         'Frisco, TX': 15,
         'Tempe, AZ': 15,
         'Stamford, CT': 15,
         'Ohio, United States': 15,
         'Greensboro, NC': 15,
         'Annapolis Junction, MD': 15,
         'Greenwood Village, CO': 15,
         'Greater Minneapolis-St. Paul Area': 15,
         'Boca Raton, FL': 14,
         'Melbourne, FL': 14,
         'San Antonio, Texas Metropolitan Area': 14,
         'Massachusetts, United States': 13,
         'Birmingham, AL': 13,
         'San Mateo, CA': 13,
         'Bethesda, MD': 13,
         'Portland, OR': 13,
         'Cincinnati Metropolitan Area': 13,
         'Portland, ME': 13,
         'Coppell, TX': 12,
         'Waltham, MA': 12,
         'Warren, MI': 12,
         'Westlake, TX': 12,
         'Greater Houston': 12,
         'Georgia, United States': 12,
         'Long Beach, CA': 12,
         'Providence, RI': 12,
         'Foster City, CA': 12,
         'Whippany, NJ': 12,
         'Smithfield, RI': 12,
         'Ridgewood, NJ': 11,
         'Sterling, VA': 11,
         'Basking Ridge, NJ': 11,
         'Oklahoma City, OK': 11,
         'Santa Monica, CA': 11,
         'Virginia Beach, VA': 11,
         'Troy, MI': 11,
         'Scottsdale, AZ': 11,
         'Des Moines, IA': 11,
         'Burbank, CA': 11,
         'Salt Lake City, UT': 11,
         'Dublin, OH': 11,
         'Ann Arbor, MI': 11,
         'Burlington, MA': 11,
         'Raleigh-Durham-Chapel Hill Area': 11,
         'Michigan, United States': 10,
         'Newport Beach, CA': 10,
         'Deerfield Beach, FL': 10,
         'Rockville, MD': 10,
         'Cedar Rapids, IA': 10,
         'St Paul, MN': 10,
         'Burlingame, CA': 10,
         'Greater Phoenix Area': 10,
         'Falls Church, VA': 10,
         'Pensacola, FL': 10,
         'Carlsbad, CA': 10,
         'Greater Seattle Area': 10,
         'Brooklyn, NY': 10,
         'Gaithersburg, MD': 10,
         'Lake Mary, FL': 10,
         'Nampa, ID': 10,
         'Mechanicsburg, PA': 9,
         'Alexandria, VA': 9,
         'Hanover, MD': 9,
         'Denver Metropolitan Area': 9,
         'Olathe, KS': 9,
         'Greenville, SC': 9,
         'Parsippany, NJ': 9,
         'Culver City, CA': 9,
         'Charlotte Metro': 9,
         'San Diego Metropolitan Area': 9,
         'San Leandro, CA': 9,
         'Albany, NY': 9,
         'Naperville, IL': 8,
         'Southlake, TX': 8,
         'Hillsboro, OR': 8,
         'Goodyear, AZ': 8,
         'Schaumburg, IL': 8,
         'Salt Lake City Metropolitan Area': 8,
         'Tulsa, OK': 8,
         'Fort Mill, SC': 8,
         'Arizona, United States': 8,
         'Washington, United States': 8,
         'Juno Beach, FL': 8,
         'Weehawken, NJ': 8,
         'Bloomfield, CT': 8,
         'Eagan, MN': 8,
         'Knoxville, TN': 8,
         'Albuquerque, NM': 8,
         'Rahway, NJ': 8,
         'Dayton, OH': 8,
         'Englewood, CO': 8,
         'Aliso Viejo, CA': 8,
         'Greater Boston': 8,
         'Woodlawn, MD': 8,
         'Omaha Metropolitan Area': 8,
         'Boulder, CO': 8,
         'Greater Tampa Bay Area': 8,
         'Arlington, TX': 8,
         'Plymouth, MI': 7,
         'Portland, Oregon Metropolitan Area': 7,
         'Buffalo, NY': 7,
         'Kirkland, WA': 7,
         'Colorado, United States': 7,
         'Costa Mesa, CA': 7,
         'Sunrise, FL': 7,
         'Buffalo-Niagara Falls Area': 7,
         'Manhattan, NY': 7,
         "O'Fallon, MO": 7,
         'Lehi, UT': 7,
         'NAMER': 7,
         'Quantico, VA': 7,
         'Raritan, NJ': 7,
         'Boise, ID': 7,
         'Bedford, MA': 7,
         'Greater Pittsburgh Region': 7,
         'Charlottesville, VA': 7,
         'Evanston, IL': 7,
         'King of Prussia, PA': 7,
         'Miami-Fort Lauderdale Area': 7,
         'Plainsboro, NJ': 7,
         'Indiana, United States': 7,
         'Woodbridge, NJ': 7,
         'Manassas, VA': 6,
         'New Haven, CT': 6,
         'Wichita, KS': 6,
         'Spring, TX': 6,
         'Deerfield, IL': 6,
         'Lisle, IL': 6,
         'Norfolk, VA': 6,
         'Springfield, VA': 6,
         'Framingham, MA': 6,
         'New Orleans, LA': 6,
         'Morrisville, NC': 6,
         'Edison, NJ': 6,
         'North Chicago, IL': 6,
         'Orange County, CA': 6,
         'Fort Lauderdale, FL': 6,
         'Lake Forest, CA': 6,
         'Maryland, United States': 6,
         'Detroit Metropolitan Area': 6,
         'West Des Moines, IA': 6,
         'Jackson, MS': 6,
         'San Carlos, CA': 6,
         'Longmont, CO': 6,
         'State Farm, VA': 6,
         'Ridgefield, CT': 6,
         'Linthicum, MD': 6,
         'Huntsville-Decatur-Albertville Area': 5,
         'West Chester, PA': 5,
         'Richland, WA': 5,
         'Beaverton, OR': 5,
         'Sparks, NV': 5,
         'Frederick, MD': 5,
         'Denton, TX': 5,
         'Warren, NJ': 5,
         'Silver Spring, MD': 5,
         'New Castle, DE': 5,
         'Santa Ana, CA': 5,
         'Spokane, WA': 5,
         'Fairfax County, VA': 5,
         'Milpitas, CA': 5,
         'Tucson, AZ': 5,
         'Charleston, SC': 5,
         'Winchester, VA': 5,
         'Mount Laurel, NJ': 5,
         'Dahlgren, VA': 5,
         'Radnor, PA': 5,
         'Johns Creek, GA': 5,
         'Merrifield, VA': 5,
         'Tysons Corner, VA': 5,
         'Thousand Oaks, CA': 5,
         'Missouri, United States': 5,
         'St Petersburg, FL': 5,
         'Anderson, SC': 5,
         'Norwalk, CT': 5,
         'District of Columbia, United States': 5,
         'Littleton, CO': 5,
         'Greater Sacramento': 5,
         'Newport News, VA': 5,
         'Connecticut, United States': 5,
         'Owings Mills, MD': 5,
         'Greater Philadelphia': 4,
         'Ogden, UT': 4,
         'Duluth, GA': 4,
         'Morristown, NJ': 4,
         'Lincoln, NE': 4,
         'Folsom, CA': 4,
         'Reno, NV': 4,
         'Topeka, KS': 4,
         'Newark, DE': 4,
         'Bolingbrook, IL': 4,
         'Albany, New York Metropolitan Area': 4,
         'San Bernardino, CA': 4,
         'Lenexa, KS': 4,
         'South Bend, IN': 4,
         'Chesapeake, VA': 4,
         'Fort Meade, MD': 4,
         'Greater St. Louis': 4,
         'Hazelwood, MO': 4,
         'Anchorage, AK': 4,
         'Rome, NY': 4,
         'White Plains, NY': 4,
         'Myrtle Point, OR': 4,
         'Clayton, NC': 4,
         'Lake Buena Vista, FL': 4,
         'Chevy Chase, MD': 4,
         'Brea, CA': 4,
         'Los Angeles, California, United States': 4,
         'Doral, FL': 4,
         'Aurora, CO': 4,
         'Kansas City Metropolitan Area': 4,
         'Watsonville, CA': 4,
         'McKinney, TX': 4,
         'Winston-Salem, NC': 4,
         'Clearwater, FL': 4,
         'Pontiac, MI': 4,
         'Tennessee, United States': 4,
         'Lincolnshire, IL': 4,
         'Bedminster, NJ': 4,
         'Louisville, CO': 4,
         'Springfield, IL': 4,
         'Everett, WA': 4,
         'Lake Forest, IL': 4,
         'Laurel, MD': 4,
         'Kentucky, United States': 4,
         'Horsham, PA': 4,
         'Queens, NY': 4,
         'Minnesota, United States': 4,
         'Round Rock, TX': 4,
         'Trenton, NJ': 4,
         'Aurora, Colorado, United States': 4,
         'Pasadena, CA': 4,
         'Naples, FL': 4,
         'Smyrna, GA': 4,
         'Columbia, SC': 4,
         'Piscataway, NJ': 4,
         'Broomfield, CO': 4,
         'Rochester, NY': 4,
         'Concord, CA': 4,
         'Greensboro--Winston-Salem--High Point Area': 4,
         'Montvale, NJ': 4,
         'Hampton, VA': 4,
         'Englewood Cliffs, NJ': 4,
         'Athens, GA': 4,
         'Greater Orlando': 4,
         'Delaware, United States': 4,
         'Vancouver, WA': 4,
         'Bloomfield Hills, MI': 4,
         'Springfield, MA': 4,
         'Devens, MA': 4,
         'Fort George G. Meade, MD': 4,
         'Springfield, Massachusetts Metropolitan Area': 4,
         'Chesterfield, MO': 4,
         'Henrico, VA': 4,
         'Hanscom Air Force Base, MA': 4,
         'Bloomington, MN': 3,
         'Cayce, SC': 3,
         'Gilbert, AZ': 3,
         'Eden Prairie, MN': 3,
         'Sioux Falls, SD': 3,
         'Peachtree City, GA': 3,
         'Westborough, MA': 3,
         'Santa Barbara County, CA': 3,
         'Stanford, CA': 3,
         'South San Francisco, CA': 3,
         'Arlington, Virginia, United States': 3,
         'Oaks, PA': 3,
         'Olympia, WA': 3,
         'Roanoke, VA': 3,
         'Concord, MA': 3,
         'Rock Island, IL': 3,
         'West Palm Beach, FL': 3,
         'Texas City, TX': 3,
         'Danvers, MA': 3,
         'New Bremen, OH': 3,
         'Urbana, IL': 3,
         'Radford, VA': 3,
         'Oakbrook Terrace, IL': 3,
         'Los Gatos, CA': 3,
         'Franklin, WI': 3,
         'Rosemont, IL': 3,
         'Lone Tree, CO': 3,
         'Nashua, NH': 3,
         'Glendale, CA': 3,
         'Syracuse, NY': 3,
         'The Woodlands, TX': 3,
         'New Brunswick, NJ': 3,
         'Morris Plains, NJ': 3,
         'Mentor, OH': 3,
         'Stevens Point, WI': 3,
         'Wickliffe, OH': 3,
         'Sacramento County, CA': 3,
         'Allentown, PA': 3,
         'Murrysville, PA': 3,
         'Bridgewater, NJ': 3,
         'Downey, CA': 3,
         'Jefferson City, MO': 3,
         'Iselin, NJ': 3,
         'Columbus, GA': 3,
         'Holmdel, NJ': 3,
         'St Charles, IL': 3,
         'Roy, UT': 3,
         'Huntington Beach, CA': 3,
         'Tucker, AR': 3,
         'Santa Cruz, CA': 3,
         'Clayton, MO': 3,
         'Campbell, CA': 3,
         'Santa Clara County, CA': 3,
         'Issaquah, WA': 3,
         'Peoria, IL': 3,
         'San Bruno, CA': 3,
         'Florham Park, NJ': 3,
         'Fountain Valley, CA': 3,
         'Rutherford, NJ': 3,
         'Brentwood, TN': 3,
         'Roswell, GA': 3,
         'Grand Prairie, TX': 3,
         'Santa Barbara, CA': 3,
         'Medina, MN': 3,
         'Manchester, NH': 3,
         'Francesville, IN': 3,
         'Pleasant Prairie, WI': 3,
         'Mesa, AZ': 3,
         'Greater Madison Area': 3,
         'Westbrook, ME': 3,
         'Hoboken, NJ': 3,
         'Woodland, CA': 3,
         'Wilmington, MA': 3,
         'Torrance, CA': 3,
         'Wichita Falls, TX': 3,
         'New Providence, NJ': 3,
         'Lexington, MA': 3,
         'Maplewood, MN': 3,
         'Emeryville, CA': 3,
         'Rosemead, CA': 3,
         'Miramar, FL': 3,
         'Greater Cleveland': 3,
         'Oklahoma City Metropolitan Area': 3,
         'Camden, NJ': 3,
         'Johnston, IA': 3,
         'New York, New York, United States': 3,
         'Melville, NY': 3,
         'Annapolis, MD': 3,
         'Warrendale, PA': 3,
         'Middletown, NJ': 3,
         'Milford, MI': 3,
         'Toledo, OH': 3,
         'Universal City, CA': 3,
         'Conshohocken, PA': 3,
         'Chattanooga, TN': 3,
         'Westlake, OH': 2,
         'Sandy, UT': 2,
         'Rocklin, CA': 2,
         'Modesto, CA': 2,
         'Grapevine, TX': 2,
         'Montana, United States': 2,
         'Braintree, MA': 2,
         'Davidson, NC': 2,
         'Dunwoody, GA': 2,
         'Wayne, PA': 2,
         'Socorro, NM': 2,
         'Columbia, MO': 2,
         'Boardman, OR': 2,
         'East Palo Alto, CA': 2,
         'Hebron, KY': 2,
         'Edwards, CA': 2,
         'Oshkosh, WI': 2,
         'St Joseph, MI': 2,
         'Pierre, SD': 2,
         'Redlands, CA': 2,
         'Mobile, AL': 2,
         'Warner Robins, GA': 2,
         'Champaign, IL': 2,
         'Danbury, CT': 2,
         'Lakeland, FL': 2,
         'Fargo, ND': 2,
         'Needham, MA': 2,
         'Olney, MD': 2,
         'Suitland, MD': 2,
         'Northern Virginia, VA': 2,
         'Winter Park, FL': 2,
         'Kansas City, KS': 2,
         'Rancho Santa Margarita, CA': 2,
         'Boynton Beach, FL': 2,
         'Merrimack County, NH': 2,
         'Minnetonka, MN': 2,
         'Maine, United States': 2,
         'Suffolk County, MA': 2,
         'La Jolla, California, United States': 2,
         'New Berlin, WI': 2,
         'College Station, TX': 2,
         'Waterbury, CT': 2,
         'Niskayuna, NY': 2,
         'Fort Myers, FL': 2,
         'St Helena, CA': 2,
         'Chesterfield, VA': 2,
         'Frankfort, KY': 2,
         'Rolling Meadows, IL': 2,
         'Warwick, RI': 2,
         'Franklin, TN': 2,
         'Ontario, CA': 2,
         'Fairfield County, CT': 2,
         'Millington, TN': 2,
         'Simi Valley, CA': 2,
         'Kennesaw, GA': 2,
         'Montgomery County, MD': 2,
         'Idaho, United States': 2,
         'Sterling Heights, MI': 2,
         'New Bedford, MA': 2,
         'Santa Rosa, CA': 2,
         'Secaucus, NJ': 2,
         'Temecula, CA': 2,
         'Greater Indianapolis': 2,
         'Libertyville, IL': 2,
         'Livonia, MI': 2,
         'Waukesha, WI': 2,
         'Columbia, South Carolina Metropolitan Area': 2,
         'Tacoma, WA': 2,
         'Winter Garden, FL': 2,
         'Lexington Park, MD': 2,
         'Versailles, OH': 2,
         'Charleston, WV': 2,
         'Spartanburg, SC': 2,
         'West Virginia, United States': 2,
         'Wisconsin, United States': 2,
         'Sugar Land, TX': 2,
         'Somerville, MA': 2,
         'Johnson City, TN': 2,
         'Green Bay, WI': 2,
         'Westlake Village, CA': 2,
         'Diamond Bar, CA': 2,
         'Utah, United States': 2,
         'Los Angeles County, CA': 2,
         'Berkeley, CA': 2,
         'Fort Collins, CO': 2,
         'Carson City, NV': 2,
         'Deerfield, MA': 2,
         'Alameda, CA': 2,
         'Lakewood, CO': 2,
         'Warrenton, VA': 2,
         'Davis, CA': 2,
         'Elizabeth City, NC': 2,
         'Bloomington, IL': 2,
         'Waterloo, IA': 2,
         'Multnomah County, OR': 2,
         'Dallas, Texas, United States': 2,
         'Murray, UT': 2,
         'Woonsocket, RI': 2,
         'Kankakee, IL': 2,
         'Meridian, ID': 2,
         'Duarte, CA': 2,
         'Madison, NJ': 2,
         'Columbia, TN': 2,
         'Gwynn Oak, MD': 2,
         'Baton Rouge Metropolitan Area': 2,
         'Waco, TX': 2,
         'Portland, Maine Metropolitan Area': 2,
         'Fort Washington, PA': 2,
         'Lorton, VA': 2,
         'Akron, OH': 2,
         'Buffalo Grove, IL': 2,
         'Oak Brook, IL': 2,
         'Moline, IL': 2,
         'Bloomington, IN': 2,
         'Erlanger, KY': 2,
         'Batavia, IL': 2,
         'Hackettstown, NJ': 2,
         'Cherry Hill, NJ': 2,
         'Mettawa, IL': 2,
         'Utica-Rome Area': 2,
         'San Diego County, CA': 2,
         'Canada': 2,
         'Tustin, CA': 2,
         'Truckee, CA': 2,
         'Fort Washington, MD': 2,
         'Chanhassen, MN': 2,
         'Northfield, IL': 2,
         'Mission, KS': 2,
         'Pullman, WA': 2,
         'Pasadena, TX': 2,
         'Marlborough, MA': 2,
         'Hollywood, FL': 2,
         'Lewiston, ID': 2,
         'Castle Rock, CO': 2,
         'Oklahoma, United States': 2,
         'Collegeville, PA': 2,
         'Livermore, CA': 2,
         'North Olmsted, OH': 2,
         'Hoffman Estates, IL': 2,
         'Lexington, KY': 2,
         'Raymond, OH': 2,
         'Immokalee, FL': 2,
         'Downers Grove, IL': 2,
         'Fayetteville, AR': 2,
         'Golden Valley, MN': 2,
         'Mayfield Heights, OH': 2,
         'Temple Terrace, FL': 2,
         'Brookfield, WI': 2,
         'Hayward, CA': 2,
         'Arden Hills, MN': 2,
         'Ohio City, OH': 2,
         'New Albany, OH': 2,
         'Sapulpa, OK': 2,
         'Home, KS': 2,
         'Fort Lee, NJ': 2,
         'Hamilton Township, NJ': 2,
         'Paramus, NJ': 2,
         'Salisbury, NC': 2,
         'Suwanee, GA': 2,
         'Bradenton, FL': 2,
         'Cascade Locks, OR': 2,
         'American Fork, UT': 2,
         'North Reading, MA': 2,
         'Decatur, IL': 2,
         'Triangle, NC': 2,
         'Reading, PA': 2,
         'Charlotte, AR': 2,
         'Carmel, IN': 2,
         'Hackensack, NJ': 2,
         'Billerica, MA': 2,
         'Plymouth Meeting, PA': 2,

In [6]:
state_abbreviations = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA",
    "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
    "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ",
    "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
    "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
]

filtered_postings = tech_postings[tech_postings['location'].str[-2:].isin(state_abbreviations)]
filtered_postings.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
26,175485704,GOYT,Software Engineer,Job Description:GOYT is seeking a skilled and ...,NaN,NaN,"Denver, CO",76987056.0,273.0,NaN,...,NaN,1.713281e+12,NaN,0,PART_TIME,NaN,NaN,NaN,80202.0,8031.0
108,3169712432,SysMind,Salesforce Vlocity Developer,Role: Salesforce Vlocity DeveloperLocation: Ne...,NaN,NaN,"Jersey City, NJ",85964.0,146.0,NaN,...,NaN,1.713211e+12,NaN,0,CONTRACT,NaN,NaN,NaN,7302.0,34017.0
116,3245063922,Saxon AI,Data Architect,Request: Data ArchitectLocation: San Francisco...,NaN,NaN,"San Francisco, CA",224935.0,7.0,NaN,...,NaN,1.713537e+12,NaN,0,CONTRACT,NaN,NaN,NaN,94101.0,6075.0
163,3533320307,NLB Services,Java architect / Lead Java developer,Position: Java architect / Lead Java developer...,NaN,NaN,"Jersey City, NJ",490432.0,3.0,NaN,...,NaN,1.712855e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,7302.0,34017.0
196,3625991523,Xoriant,DDI Engineer,Title: Infoblox/DNS EngineerLocation: 6860 Yos...,NaN,NaN,"Jersey City, NJ",166996.0,24.0,NaN,...,NaN,1.713277e+12,NaN,0,CONTRACT,NaN,NaN,NaN,7302.0,34017.0